@charset "utf-8";
/* CSS Document */
/* border box fix 
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
*/


/* Global Styles
-----------------------------*/
body {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	
}
h3, h2 {
	text-transform: capitalize;
}
img {
height: 300px;

	
}
.more_images{
	background-position: center;
	height: 100%;
	
	padding: 0;
	
}
section {
	padding-top: 5%;
	padding-bottom: 5%;
}

h2 {
	text-transform: uppercase;
	color: darkgray;
}

#info p {
	padding-left: 5%;
	padding-right: 5%;
}
.container {
	margin: 0 auto;
	overflow: hidden;	
}

.col {
	float: left;
	text-align: center;
	min-width: 300px;
	overflow: hidden;	
}
.col-1 {
	width: 20%;
	
}
.col-2 {
	width: 40%;
}
.col-3 {
	width: 60%;
}
.col-4 {
	width: 80%;
}
.col-5 {
	width: 100%;
}

.col-6-1 {
	width: 16.66%;
}
.col-6-2 {
	width: 33.33%;
}
.col-6-3 {
	width: 50.00%;
}
.col-6-4 {
	width: 66.66%;
}
.col-6-5 {
	width: 82.66%;
}
.col-6-6 {
	width: 100.00%;
}

/*.column-narrow {
	width: 35%;
	float: left;
	paddign-right: 3%;
	min-height: 175px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
}
*/

#featured_work p {
	padding: 10%;
}

/*--------------- NAVIGATION BAR
--------------------------------*/

#navbar {
	text-decoration: none;
	width: 100;
	padding-bottom: 4%;
	
}
#nav li, a {
	list-style: none;
	text-decoration: none;
	color: gray;
	text-transform: uppercase;
}
ul#nav {
	padding: 0;
}

/*--------------- Header
--------------------------------*/
header {
	background-image: url("../images/office.jpg");
		background-attachment: fixed;
	background-position: center;
	padding: 20%;
	
}
.parent {
	position: relative;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color:rgba(0, 0, 0, 0.6); 
	
}
#header_title {
	color: white;
	text-align: center;
	text-transform: uppercase;
}

footer {
	background-image: url(../images/logo_icon.jpg);
	background-attachment: fixed;
	background-position: center;
	padding: 10%;
	font-size: 120%;
}
#h2_footer {
	color: white;
}

.copyright {
	color: white;
}
.footerLinks {
	color: lightgrey;
	text-transform: none;
	
}
/*--------------- Media Queries
--------------------------------*/

@media (max-width: 940px){
	
	main .container {
		margin: 0;
	}
	
}
@media (max-width: 700px){
	
	main .container {
		margin:auto;
	}
	
}
@media (max-width: 550px){
	main .container {
		margin-left: auto;
	}
	
	.col:last-child {
		margin: auto;
	}
	.col {
		float:none;
		width: 100%;
	}
	
}

	
